<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
<h1>Sample App</h1>
<p>
This is the home page for my tutorial Ruby on Rails application. 
I am using the excellent <a href="http://ruby.railstutorial.org">
online tutorial</a> provided free of charge by the Mr Michael Hartl.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
