<h1>Sample App</h1>
<p>
This is the home page for my tutorial Ruby on Rails application. 
I am using the excellent <a href="http://ruby.railstutorial.org">
online tutorial</a> provided free of charge by the Mr Michael Hartl.
</p>

<%= link_to "Sign up now", signup_path, :class => "signup_button round" %>
